<DOCTYPE html>
<html lang="en">
    
    <head>
        
         <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename="css/bootstrap.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename="css/font-awesome.css")}}">
        <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
         <title>Bucket List</title>
        
    </head>
    
    <body>
        <!-- navbar section-->
      
        <navbar class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     
                    </button>
                    <a href="#"  class="navbar-brand"><span class="fa fa-shopping-basket" aria-hidden="true"></span> Bucket List</a>
                </div>
                <!--navbar header-->
                <div clas="collapse navbar-collapse" id="navbar-collapse"> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><a href="#">Login</a></li>
                        <li><a href="register.html">Sign up</a></li>
                        
                    </ul>
                </div>
                  
            </div><!--end of container-->
                
        </navbar> <!--End of nav bar-->
        
        
        <!--form section-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="container" style="padding-top: 50px ">
                        <h1>Live A Life You Will Remember</h1>
                        <p>“Life isn’t meant to be lived perfectly…but merely to be LIVED. <br>Boldly, wildly, beautifully, uncertainly, imperfectly, magically LIVED.” </p>
                            <p>Sign up for free and start creating your bucketlist</p>
                     </div>
                    </div>
                    <div class="col-sm-offset-8">
                        <form action="{{url_for('index')}}" method="POST">
                           <h4>Already have an account?<a href="{{url_for('signup')}}">Sign up</a></h4>
                             <h1>Login in here</h1>
                            <div class="form-group">
                              <label for="username">Username</label>
                               <div class="input-group">
                                   <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" placeholder="Username...">
                                </div>
                                
                            </div>
                            
                             <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password...">
                                 </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
    
    
    </html>   
    