<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bucket List</title>
     
         <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/font-awesome.css">
        
    <style>
    body{
    background-color:dimgray;
        background-repeat:no-repeat;
        
        }
        .row.content {height: 550px}

        
    </style>
    <script src="../static/js/script.js"></script>
   
</head>
<body>
      
       <!-- navbar section-->
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><span class="fa fa-shopping-basket" aria-hidden="true"></span> Bucket list</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"> Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             <li><a href=""> <i class="fa fa-user" aria-hidden="true"></i> james947</a></li>
              <li><a href="index.html"> <i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
            </ul>
          </div>
        </nav>
        
       <!--side bar colum-->
        <div class="container">
          <div class="row">
            <div class="col-sm-3 side nav">
             <div class="well">
              <h4>@james947</h4>
              
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#section1" class="btn btn-default">My profile</a></li>
                <li class="active"><a href="#section2" class="btn">Bucket lists</a></li>
                <li><a href="{{url_for('addActivities')}}" class="btn btn-default" id="button">Add New Activities</a></li>
              </ul><br>
                </div>
              </div>
                
             
     <div class="col-sm-9">
      <div class="well">
        <h1>MY LIST</h1>
        <p>Live life to the Fullest</p>
       </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            {% for post in post %}
            <div class="well">
            <h2>{{post.title}}</h2><small>{{post.date_posted}}</small>
            <hr>
            <h3>{{post.description}}</h3> 
              <div class="btn-group">
                 <button class="btn btn-primary">Edit Activity</button>
                  <button  class="btn btn-danger"><a href="{{url_for('delete', id=post.id)}}"> Delete Activity</a></button>
              </div>
              <br>
              </div>
              {% endfor %}
        </div>
        

      
    </div>
    </div>
    </div>
</body>
</html>
